
.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 4px;
}

#title {
    font-size: 14px;
    margin-left: 4px;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(118, 119, 121);
}

.contentInput {
    width: 100%;
}

.page {
   margin-top: 10px;
}