.containerLayout {
    flex: 1;
    display: block;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: #fff;
    padding: 10px;
}

#title {
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(63, 66, 70);
}