.containerLayout {
    flex: 1;
    display: block;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: #fff;
    padding: 4px;
}

#title {
    font-size: 18px;
    margin-left: 4px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(118, 119, 121);
}

#containerInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

#input {
    border-radius: 6px;
    padding: 4px;
    width: 80%;
}