.containerLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header {
    background-color: rgb(2, 105, 207);
    color: #fff;
    padding: 20px;
}

#title {
    font-size: 18px;
}