
.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 4px;
}

#title {
    font-size: 14px;
    margin-left: 4px;
    color: #fff;
}

.content {
    background-color: rgb(118, 119, 121);
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4px;
    margin-top: 10px;
    width: 100%;
}