
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 4px;
    font-size: 16px;
    text-decoration: none;
}

#title {
    font-size: 24px;
    margin-left: 4px;
    color: #fff;
}

#link {
    color: #fff;
}

.content {
    background-color: rgb(37, 37, 37);
    width: 100%;
    margin: 10px;
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-top: 10px;
    width: 100%;
}